<div class="registerContainer">
    <div class="registerControls">
        <h1>Registrar</h1>
        <form action="/register" method="post">
            <div class="formControl">
                <label for="name">Nome</label>
                <input type="text" name="name" placeholder="Digite o nome da empresa ou pessoa:" required>
            </div>
            
            <div class="formControl">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Digite o seu E-mail:" required>
            </div>

            <div class="formControl">
                <label for="city">Cidade</label>
                <input type="text" name="city" placeholder="A cidade em que você e seu pet vivem!" required>
            </div>

            <div class="formControl">
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Digite uma senha:" required>
            </div>

            <div class="formControl">
                <label for="reptipPassword">Confirmar senha</label>
                <input type="password" name="reptiPasswod" placeholder="Repita a senha:" required>
            </div>

            <div class="checkContainer">
                <h3>Empresa?</h3>

                <div class="check">
                    <div class="formControlCheck">
                        <input type="checkbox" name="company">
                        <label for="company">PJ</label>
                    </div>
                </div>

            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</div>