<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Caramelo</title>
</head>
<body>
    <header class="header">
        <a href="/healthInsurance">
            <img src="/img/logotipo.svg" alt="Caramelo" class="logotipo">
        </a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/healthInsurance">Planos para seu PET</a>
                </li>
                <li>
                    <a href="/login">Entrar</a>
                </li>
                <li>
                    <a href="/register">Registrar</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <!--<footer class="footer">
        <p>Feito com amor por <span>Miqueias Belfort</span></p>
    </footer>-->
</body>
</html>