<div class="home">
    <h1 class="titleHome">Bem vindo ao Caramelo</h1>
    <p class="descriptionHome">Aqui você acha os melhores planos viterinarios para seu pet</p>
    <a class="link" href="/register">Crie sua conta aqui!</a>
    <a class="link" href="/login">Entre aqui!</a>
</div>