<div class="registerContainer">
    <div class="registerControls">
        <h1>Criar plano PET</h1>
        <p>Olá {{user.name}}, vamos cuidar dos pet do mundo hoje!</p>
        <form action="/insurance/create" method="post">
            <div class="formControl">
                <label for="namePlam">Nome do Plano</label>
                <input type="text" name="namePlam" placeholder="Nome do plano de saúde pet">
            </div>
        </form>
    </div>
</div>